!!!5
html
  head
    title=event.id
    link(rel="stylesheet",    href='./css/style.css')
    link(rel="stylesheet",    href='./css/bootstrap.min.css')
  body
    a(href='https://github.com/minsh/sambar')
      img(style='position:absolute;top:0;right:0;border:0;',src='./images/forkme.png',alt='Fork me on GitHub')
    .container
      .row.spacer
      .row
        .header.jumbotron
          h1
            span.white=cfg.name
          h2
            span.white=cfg.description
      .row
        .sponsor
          span.frame
            .left
              span
                img(src='./images/swissnex.png')
            .right
              span
                h1 Sponsored by #{event.sponsor.name}
                p()=event.sponsor.description
                p 
                  a(href=event.sponsor.www)=event.sponsor.www
      .row
        .meetup
          span.frame
            .left
              span
                h1.orange #{cfg.name} Meetup
                h2.white When
                - var start = new Date(event.when.start);
                - var end = new Date(event.when.end);
                - var current = new Date();
                h3.orange #{dayNames[start.getDay()]}, #{monthNames[start.getMonth()]} #{getDate(start)}, #{start.getHours()}:#{getMinutes(start)}-#{end.getHours()}:#{getMinutes(end)} 
                h2.white Where
                h3.orange=event.where.address
                h3.orange=event.where.city
                if current < start
                  h2.white Grab your ticket today: 
                  h3.orange 
                    a(href=event.tickets) #{event.tickets}
            .right
              span
                a(href=event.where.map)
                  img(src='./images/map.png')
                  p Get directions

      - if (images.length)
        .row
          .pictures
            ul
              - var cnt = 0;
              - each i in images
                - if (cnt%4 === 3)
                  li.first
                    a(href=i.modal)
                      img(src=i.thumbnail)
                - else 
                  li
                    a(href=i.modal)
                      img(src=i.thumbnail)
                - ++cnt

      - if (event.videos.length)
        .row
          .pictures
            ul
              - var cnt = 0;
              - each v in event.videos
                - if (cnt%2 === 1)
                  li.first
                    iframe(width=v.width, height=v.height, src=v.url, frameborder="0", allowfullscreen)
                - else 
                  li
                    iframe(width=v.width, height=v.height, src=v.url, frameborder="0", allowfullscreen)
                - ++cnt
      .row
        .agenda
          span.frame
            h1 Agenda
            - each v, k in event.agenda
              p 
                h3
                  #{v.when} - #{v.what}   
                  - if (v.speaker_idx)
                    | #{event.speakers[v.speaker_idx].name}.
          span.separator
      - each v in event.speakers
        .row 
          .speaker
            span.frame 
              h1 #{v.name}
              .left
                span
                  img(src=v.pic)
              .right
                span
                  h3 #{v.bio}
                  - if (v.twitter)
                    a(href='http://twitter.com/'+v.twitter,target='_blank')
                      img(src='./images/twitter.png')
                  - if (v.github)
                    a(href='http://github.com/'+v.github,target='_blank')
                      img(src='./images/github.png')
            span.frame
              h2=v.talk.title
              p!=v.talk.abstract
            span.separator
      .row
        if current < start
          .grab_ticket
            span.frame
              span
                h1 Grab your ticket today: 
                  a(href=event.tickets) #{event.tickets}
      .row
        a.twitter-follow-button(href="https://twitter.com/"+cfg.twitter,data-show-count="false",data-size="large") Follow @#{cfg.twitter}
        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
