!!!5
html
  head
    title=event.id
    link(rel="stylesheet",    href='./css/style.css')
    link(rel="stylesheet",    href='./css/bootstrap.min.css')
  body
    a(href='https://github.com/minsh/sambar')
      img(style='position:absolute;top:0;right:0;border:0;',src='./images/forkme.png',alt='Fork me on GitHub')
    .container
      .row.spacer
      .row
        .header.jumbotron
          h1
            span.white=cfg.name
          h2
            span.white=cfg.description
      .row
        .sponsor
          span.frame
            .left
              span
                img(src='./images/swissnex.png')
            .right
              span
                h1 Sponsored by #{event.sponsor.name}
                p=event.sponsor.description
                p 
                  a(href=event.sponsor.www)=event.sponsor.www
      .row
        .meetup
          span.frame
            .left
              span
                h1.orange #{cfg.name} Meetup
                h2.white When
                - var start = new Date(event.when.start);
                - var end = new Date(event.when.end);
                p.orange #{dayNames[start.getDay()]}, #{monthNames[start.getMonth()]} #{getDate(start)}, #{start.getHours()}:#{getMinutes(start)}-#{end.getHours()}:#{getMinutes(end)} 
                h2.white Where
                p.orange=event.where.address
                p.orange=event.where.city
            .right
              span
                img(src='./images/map.png')
      .row
        .agenda
          span.frame
            h1 Agenda
            - each v in event.agenda
              p #{v.when} - #{v.what}   
          span.separator
      - each v in event.speakers
        .row 
          .speaker
            span.frame 
              h1 #{v.name}
              .left
                span
                  img(src=v.pic)
              .right
                span
                  h3 #{v.bio}
            span.frame
              h2=v.talk.title
              p=v.talk.abstract
            span.separator
      .row
        .grab_ticket
          span.frame
            span
              h1 Grab your ticket today
