!!!5
html
  head
    title=event.id
    link(rel="stylesheet",    href='./css/style.css')
    link(rel="stylesheet",    href='./css/bootstrap.min.css')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34497453-1']);
      _gaq.push(['_setDomainName', 'bangalorejs.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    a(href='https://github.com/minsh/sambar')
      img(style='position:absolute;top:0;right:0;border:0;',src='./images/forkme.png',alt='Fork me on GitHub')
    .container
      .row.spacer
      .row
        .navbar
          .navbar-inner
            ul.nav
              - each v in cfg.events
                - var vdate = new Date(v.when.start);
                if (v.id === event.id)
                  li.active
                    a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)}
                else
                  li
                    a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)}
      .row
        .header.jumbotron
          .left
            span
              img(src='./images/logo.png',width='210px',height='210px')
          .right
            span
              a.twitter-follow-button(href="https://twitter.com/"+cfg.twitter,data-show-count="false",data-size="large") Follow @#{cfg.twitter}
              script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      .row
        .sponsor
          span.frame
            span.event_sponsor
              p Sponsor
              a(href=event.sponsor.www,target='_blank')
                img(height='72px',width='361px',src=event.id+'/images/sponsors/swissnex.png')
            span.event_organization
              p Organization
              a(href='http://minsh.net',target='_blank')
                img(width='72px',height='72px',src=event.id+'/images/sponsors/minsh.logo.png')
            span.event_support
              p Support
              a(href='http://hasgeek.com',target='_blank')
                img(width='96px',height='72px',src=event.id+'/images/sponsors/hasgeek.logo.png')
      .row
        .meetup
          span.frame
            h2.orange #{cfg.description}
            .left
              span
                h3.white When
                - var start = new Date(event.when.start);
                - var end = new Date(event.when.end);
                - var current = new Date();
                h4.orange #{dayNames[start.getDay()]}, #{monthNames[start.getMonth()]} #{getDate(start)}, #{start.getHours()}:#{getMinutes(start)}-#{end.getHours()}:#{getMinutes(end)} 
                h3.white Where
                h4.orange=event.where.address
                h4.orange=event.where.city
                if current < start
                  h3.white Grab your ticket today: 
                  h4.orange 
                    a(href=event.tickets,target="_blank") #{event.tickets}
            .right
              span
                a(href=event.id+'/'+event.where.map)
                  img(src=event.id+'/images/venue/map.png')
                  p Get directions
      - if (images.length > 0)
        .row
          .pictures
            ul
              - var cnt = 0;
              - each i in images
                - if (cnt%4 === 3)
                  li.first
                    a.thumbnail(href=i.modal,onclick='return showPic("'+event.id+'/gallery/'+i.modal+'");')
                      img(src=event.id+'/gallery/'+i.thumbnail)
                - else 
                  li
                    a.thumbnail(href=i.modal,onclick='return showPic("'+event.id+'/gallery/'+i.modal+'");')
                      img(src=event.id+'/gallery/'+i.thumbnail)
                - ++cnt

      - if (event.videos.length)
        .row
          .videos
            ul
              - var cnt = 0;
              - each v in event.videos
                - if (cnt%2 === 1)
                  li.first
                    a.thumbnail(href='http://youtube.com/watch?v='+v,onclick='return showVid("'+v+'");')
                      img(width="338px",height="253px",src="http://img.youtube.com/vi/"+v+"/0.jpg");
                      div
                        img(src="./images/play.png")
                - else 
                  li
                    a.thumbnail(href='http://youtube.com/watch?v='+v,onclick='return showVid("'+v+'");')
                      img(width="338px",height="253px",src="http://img.youtube.com/vi/"+v+"/0.jpg");
                      div
                        img(src="./images/play.png")
                - ++cnt
      .row
        .agenda
          span.frame
            h2 Agenda
            - each v, k in event.agenda
              p 
                h4
                  #{v.when} - #{v.what}   
                  - if (v.speaker_idx)
                    | #{event.speakers[v.speaker_idx].name}.
      .row
        span.separator
      - each v in event.speakers
        .row 
          .speaker
            span.frame 
              h2 #{v.name}
              .left
                span
                  img(src=event.id+'/'+v.pic)
              .right
                span
                  h4 #{v.bio}
                  - if (v.twitter)
                    a(href='http://twitter.com/'+v.twitter,target='_blank')
                      img(src='./images/twitter.png')
                  - if (v.github)
                    a(href='http://github.com/'+v.github,target='_blank')
                      img(src='./images/github.png')
            span.frame
              h3=v.talk.title
              p!=v.talk.abstract
        .row
            span.separator
      .row
        if current < start
          .grab_ticket
            span.frame
              span
                h2 Grab your ticket today: 
                  a(href=event.tickets,target='_blank') #{event.tickets}
      #pic_modal.modal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-body
          img(width="800px",height="531px")
      #vid_modal.modal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-body
          iframe(width="530px",height="342px",frameborder="0",allowfullscreen)
      .row.spacer
      script(src="./js/jquery.min.js") 
      script(src="./js/bootstrap.min.js") 
      script
        function showPic(p) {
          $('#pic_modal img').attr({src:p});
          $('#pic_modal').modal();
          return false;
        }
        function showVid(p) {
          $('#vid_modal iframe').attr({src:"http://youtube.com/embed/"+p+"?autoplay=1"});
          $('#vid_modal').modal();
          return false;
        }
