!!!5
html
  head
    title meetup #{event.id} | BangaloreJS
    link(rel="stylesheet",    href='./css/style.css')
    link(rel="stylesheet",    href='./css/bootstrap.min.css')

    meta(property="og:title",content="BangaloreJS ~ #{event.id} meetup")
    meta(property="og:type",content="website")
    meta(property="og:image",content="http://#{cfg.domain}/images/logo.png")
    meta(property="og:description",content=cfg.description)
    meta(property="og:url",content="http://#{cfg.domain}/#{event.id}.html") 
    meta(property="og:site_name",content=cfg.name)

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{cfg.stats.google_analytics}']);
      _gaq.push(['_setDomainName', 'bangalorejs.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    a(href='https://github.com/minsh/sambar')
      img(style='position:absolute;top:1;right:0;border:0;',src='./images/forkme.png',alt='Fork me on GitHub')
    .container
      .row.spacer
      .row
        .navbar
          .navbar-inner
            ul.nav
              - if (cfg.events.length > 6) {
                - for (var i = 0; i < 5; ++i ) {
                  - var v = cfg.events[i];
                  - var vdate = new Date(v.when.start);
                    if (v.id === event.id)
                      li.active
                        a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)} #{getYear(vdate)}
                    else
                      li
                        a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)} #{getYear(vdate)}
                - }
                li#archive.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Archive
                    b.caret
                  ul.dropdown-menu
                    - for (var i = 5; i < cfg.events.length; ++i) {
                      - var v = cfg.events[i];
                      - var vdate = new Date(v.when.start);
                      li
                        a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)} #{getYear(vdate)}
                    - }
              - } else {
                - each v in cfg.events
                  - var vdate = new Date(v.when.start);
                    if (v.id === event.id)
                      li.active
                        a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)} #{getYear(vdate)}
                    else
                      li
                        a(href='#{v.id}.html') #{monthNames[vdate.getMonth()]} #{getDate(vdate)} #{getYear(vdate)}
              - }
      .row
        .header.jumbotron
          .left
            span
              img(src='./images/logo.png',width='210px',height='210px')
          .right
            span.event_sponsor
              p Hosted by
              a(href=event.sponsor.www,target='_blank')
                img(height=event.sponsor.pic.height,width=event.sponsor.pic.width,src=event.id+'/'+event.sponsor.pic.path)
      .row
          - if (cfg.twitter)
            span.twitter
              a.twitter-follow-button(href="https://twitter.com/"+cfg.twitter,data-show-count="false",data-size="large") Follow @#{cfg.twitter}
              script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          -if (cfg.googlegroup)
            span.googlegroup #{cfg.title} 
              form.form-horizontal(action='http://groups.google.com/group/'+cfg.googlegroup+'/boxsubscribe')
                a.element(href="https://groups.google.com/forum/#!forum/"+cfg.googlegroup) Google Group
                input.element.input-medium(type='text',name='email',placeholder='Your email')
                input.element.btn.btn-primary.btn-small(type='submit',name="sub",value="Subscribe")
      - if (images.length > 0)
        .row
          .pictures
            ul
              - var cnt = 0;
              - each i in images
                - if (cnt%4 === 3)
                  li.first
                    a.thumbnail(href=i.modal,onclick='return showPic("'+cnt+'");')
                      img(src=event.id+'/gallery/'+i.thumbnail)
                - else 
                  li
                    a.thumbnail(href=i.modal,onclick='return showPic("'+cnt+'");')
                      img(src=event.id+'/gallery/'+i.thumbnail)
                - ++cnt
      .row
        .meetup
          span.frame
            h2.orange #{cfg.description}
            .left
              span
                h3.white When
                - var start = new Date(event.when.start);
                - var end = new Date(event.when.end);
                - var current = new Date();
                h4.orange #{dayNames[start.getDay()]}, #{monthNames[start.getMonth()]} #{getDate(start)}, #{start.getHours()}:#{getMinutes(start)}-#{end.getHours()}:#{getMinutes(end)} 
                h3.white Where
                - each a in event.where.address
                  h4.orange=a
                h4.orange=event.where.city
                if current < start
                  h3.white Grab your ticket today: 
                  h4.orange 
                    a(href=event.tickets,target="_blank") #{event.tickets}
            .right
              span
                a(href=event.id+'/'+event.where.map)
                  img(src=event.id+'/images/venue/map.png')
                  p Get directions
      .row
        .sponsor
          span.frame
            span.event_organization
              p Organized by
              a(href=event.organization.www,target='_blank')
                img(width=event.organization.pic.width,height=event.organization.pic.height,src=event.id+'/'+event.organization.pic.path)
            span.event_support
              p Supported by
              a(href=event.support.www,target='_blank')
                img(width=event.support.pic.width,height=event.support.pic.height,src=event.id+'/'+event.support.pic.path)
      - if (event.videos && event.videos.length)
        .row
          .videos
            ul
              - var cnt = 0;
              - each v in event.videos
                - if (cnt%2 === 1)
                  li.first
                    a.thumbnail(href='http://youtube.com/watch?v='+v,onclick='return showVid("'+v+'");')
                      img(width="338px",height="253px",src="http://img.youtube.com/vi/"+v+"/0.jpg");
                      div
                        img(src="./images/play.png")
                - else 
                  li
                    a.thumbnail(href='http://youtube.com/watch?v='+v,onclick='return showVid("'+v+'");')
                      img(width="338px",height="253px",src="http://img.youtube.com/vi/"+v+"/0.jpg");
                      div
                        img(src="./images/play.png")
                - ++cnt
      - if (event.agenda)
        .row
          .agenda
            span.frame
              h2 Agenda
              - each v, k in event.agenda
                p 
                  h4
                    #{v.when} - #{v.what}   
                    - if (v.speaker_idx)
                      | #{event.speakers[v.speaker_idx].name}.
      - else
        .row
          .agenda
            span.frame
              h2.center Agenda coming soon : )
      - if (event.speakers)
        .row
          span.separator
        - each v in event.speakers
          .row 
            .speaker
              span.frame 
                h2 #{v.name}
                .left
                  span
                    img(src=event.id+'/'+v.pic)
                .right
                  span
                    h4!=v.bio
                    - if (v.twitter)
                      a(href='http://twitter.com/'+v.twitter,target='_blank')
                        img(src='./images/twitter.png')
                    - if (v.github)
                      a(href='http://github.com/'+v.github,target='_blank')
                        img(src='./images/github.png')
              span.frame
                h3=v.talk.title
                p!=v.talk.abstract
              - if (v.participants)
                span.frame
                  - var numRows = v.participants.length / 3;
                  - if (v.participants.length % 3) numRows += 1;
                  - for (var i = 0; i < numRows; ++i ) {
                    .row
                      - for (var j = i*3; j < (i*3)+3; ++j){
                        - var participant = v.participants[j];
                        .participant
                          img(src=event.id+'/'+participant.pic)
                          span!=participant.name
                          -if (participant.twitter)
                            - var handle = '@'+ participant.twitter;
                            span.small
                              a(href='http://twitter.com/'+participant.twitter,target='_blank')
                                =handle
                          span.small!=participant.desc
                      - }
                  - }
          .row
              span.separator
      .row
        if current < start
          .grab_ticket
            span.frame
              span
                h2 Grab your ticket today: 
                  span
                    a(href=event.tickets,target='_blank') #{event.tickets}
      #pic_modal.modal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-body
          .carousel-control.left(onclick='return showLR("left");')
            &lsaquo;
          .carousel-control.right(onclick='return showLR("right");')
            &rsaquo;
          img(width="800px",height="531px")
      #vid_modal.modal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-body
          #vid_frame
      .row.spacer
      script(src="./js/jquery.min.js") 
      script(src="./js/bootstrap.min.js") 
      script(src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js") 
      script
        //couldn't avoid these globals
        var images = !{JSON.stringify(images)};
        var event_id = !{"'"+event.id+"'"};
        function showPic(pos) {
          var p = event_id+'/gallery/'+images[pos].modal;
          $('#pic_modal img').attr({src:p});
          $('#pic_modal').modal();
          setNavs(pos);
          return false;
        }
        function setNavs(pos) {
          var len = images.length;
          pos = parseInt(pos,10);
          var prev = (pos==0)?len-1:pos-1;
          var next = (pos==len-1)?0:pos+1;
          $('.carousel-control.left').attr({'data-pos':prev});
          $('.carousel-control.right').attr({'data-pos':next});
        }
        //show prev or next pic. lr is either 'left' or 'right'
        function showLR(lr) {
          var pos = parseInt($('.carousel-control.'+lr).attr('data-pos'),10);
          showPic(pos);
          return false;
        }
        function showVid(p) {
          //https://developers.google.com/youtube/js_api_reference#Examples
          var params = { allowScriptAccess: "always" };
          var atts = { id: "myytplayer" };
          swfobject.embedSWF("http://www.youtube.com/v/"+p+"?enablejsapi=1&playerapiid=ytplayer&version=3",
                                   "vid_frame", "530", "342", "8", null, null, params, atts);

          $('#vid_modal').modal();
          $('#vid_modal').on('hidden', function() {
            //sometimes video won't be loaded, handle that
            try {
              $("#myytplayer").get(0).stopVideo();
            } catch(e) {
            }
            //is there a better way?
            $("#vid_modal .modal-body").html("<div id='vid_frame'></div>");
          });
          return false;
        }
        function onYouTubePlayerReady(playerId) {
          $("#myytplayer").get(0).playVideo();
        }
